# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Logs
*.log
